     <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Chinarte Sistemas - Login</title>
        <meta name="Autor" content="Chinarte Media Studio" />
        <link rel="stylesheet" type="text/css" href="login-style.css" />
		<script src="modernizr.custom.63321.js"></script>
    </head>
    <body>
          
          <div class="container">				
			<section class="main">
				<form class="form-1" action="http://www.culturachinesa.com.br/eagle/config/autentica.php?d=login" method="post">
					<p class="field">
						<input type="text" name="user" placeholder="Usuário">
						<i class="icon-user icon-large"></i>
					</p>
						<p class="field">
							<input type="password" name="senha" placeholder="Senha">
							<i class="icon-lock icon-large"></i>
					</p>
					<p class="submit">
						<button type="submit" name="submit"><i class="icon-arrow-right icon-large"></i></button>
					</p>
				</form>
				    <p align="center"><?  echo $mensagem;  ?></p>
			</section>
        </div>